{% extends "socialaccount/base_account.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup Social Account" %}{% endblock %}

{% block content %}
    <h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
SharePay. As a final step, please complete the following form:{% endblocktrans %}</p>

<div class="wrapper">
  {% comment %} LOGO {% endcomment %}
  {% include 'account/logo.html'%}
  <div class="card">
    <div class="card-body">
      <form class="d-flex flex-column signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
        {% csrf_token %}
        <div class="d-flex align-items-center input-field my-3 mb-4">{{ form.as_p }}</div>
        {% comment %} {{ form.as_p }} {% endcomment %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-outline-light" type="submit">{% trans "Sign Up" %} &raquo;</button>
      </form>
    </div>
  </div>  
</div>

{% endblock %}
