{% load account %}
{% load socialaccount %}
{% load static %}
{% load i18n %}

{% block title %}Log In{% endblock %}

    <div class="wrapper">
        {% comment %} LOGO {% endcomment %}
        {% include 'account/logo.html'%}

        <div class="card">
            <form class="d-flex flex-column" novalidate method="POST">
                {% csrf_token %}
            </form>
            <div class="position-relative border-bottom my-3 line"><span class="connect">or connect with</span></div>
            <div class="text-center py-3 connections"> 
                {% comment %} <a href="https://wwww.facebook.com" target="_blank" class="px-2"> <img src="https://www.dpreview.com/files/p/articles/4698742202/facebook.jpeg" alt=""> </a>  {% endcomment %}
                <a href="{% provider_login_url "facebook" method="oauth2" %}" target="_blank" class="px-2"> <img src="{% static 'img/facebook-logo.png' %}" alt="Facebook_Account"> </a> 
                <a href="{% provider_login_url "google"  %}" target="_blank" class="px-2"> <img src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-suite-everything-you-need-know-about-google-newest-0.png" alt=""> </a> 
                {% comment %} <a href="https://www.github.com" target="_blank" class="px-2"> <img src="https://www.freepnglogos.com/uploads/512x512-logo-png/512x512-logo-github-icon-35.png" alt=""> </a> </div> {% endcomment %}
                <a href="{% provider_login_url "linkedin_oauth2" %}" target="_blank" class="px-2"> <img src="{% static 'img/linkedin-logo.png' %}" alt="Linkedin_Account"> </a> 
            </div>
        </div>
        <!-- ==================Footer================ -->
        <footer class="my-1 pt-1 text-muted text-center text-small text-white">
            <p class="mb-1 text-white">&copy; 2021 - {% now 'Y'%} SharePay</p>
            <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
            </ul>
        </footer>
    </div>
    <script>
        function showPassword() {
            var password1 = document.getElementById('pwd1');
            if (password1.type === 'password') {
                password1.type = "text";
            }
            else {
                password1.type = "password";
            }
        }
    </script>  
{% endblock content %}
