{% extends 'account/base_account.html' %}
{% load static %}

{% block title %}Password Reset{% endblock title %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset-password.css' %}" >
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
{% endblock  %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="text-center">
                <h3><i class="fa fa-lock fa-4x"></i></h3>
                <h3 class="text-center">Forgot Password?</h3>
                <p>You can reset your password here.</p>
                <div class="panel-body">
                    <form id="register-form" role="form" autocomplete="off" class="form" method="post">
                        <legend>Password Reset.</legend>
                        {% csrf_token %}
                        {% if form.errors %}
                        <div class="alert alert-warning" role="alert">
                            Your email didn't match. Please try again or another one.
                        </div>
                        {% endif %}
                        <div class="form-group">
                            <div class="input-group">
                                {{form.email}}
                            </div>
                        </div>
                        <div class="form-group p-2">
                        <input name="recover-submit" class="btn btn-sm btn-primary btn-block" value="Reset Password" type="submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}