{% extends 'account/base_account.html' %}
{% load static %}

{% block title %}Password Reset Change{% endblock title %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    {% comment %} <link rel="stylesheet" href="{% static 'css/reset-password.css' %}" > {% endcomment %}
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
{% endblock  %}

{% block content %}
<div class="wrapper">
    <div class="card">
        <div class="card-body">
            <form class="d-flex flex-column" novalidate method="POST">
                {% csrf_token %}
                <h3 class="text-center"><i class="fa fa-key fa-4x"></i></h3>
                <div class="h3 text-center text-white">Change Password</div>

                <div class="d-flex align-items-center input-field my-3 mb-4"> <span class="fa fa-key p-2"></span> {{ form.password1 }} </div>
                {{ form.password1.errors }}
                <div class="d-flex align-items-center input-field my-3 mb-4"> <span class="fa fa-key p-2"></span> {{ form.password2 }} </div>
                {{ form.password2.errors }}

                <button class="btn btn-outline-light" type="submit">Change Password</button>
                <a href="{% url 'users:account_login' %}" class="btn btn-outline-light m-2 btn-sm">Back to Login</a>
            </form>
        </div>
    </div>
</div>

{% endblock content %}