{% extends "account/base_account.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset Done" %}{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="card">
            <div class="card-body text-center text-white">
                <h1>{% trans "Password Reseted" %}</h1>
                {% include 'account/logo.html'%}
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
            </div>
            <p class= "text-center text-white">{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
        </div>
    </div>
{% endblock %}
