{% extends 'account/base_account.html' %}
{% load static %}
{% load i18n %}
{% load account %}

{% block title %}Password Changed{% endblock title %}

{% block stylesheet %}
{% endblock  %}

{% block content %}
<div class="wrapper">
    <div class="card">
        <div class="card-body">
            <h3 class="text-center"><i class="fa fa-unlock-alt fa-4x"></i></h3>
            <div class="h3 text-center text-white">Changed Password</div>
            <div class="h5 text-center">Your Password has been changed!</div>
            <div class="text-center">
                <a href="{% url 'users:account_login' %}" class="btn btn-outline-light m-2 align-items-center btn-sm">Login Page</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}