{% extends 'account/base_account.html' %}
{% load static %}

{% block title %}Password Reset Complette{% endblock title %}
{% block stylesheet %}
    <link rel="preload" as="style" rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="preload" as="style" rel="stylesheet" href="{% static 'css/reset-password.css' %}" >
    <link rel="preload" as="style" href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
{% endblock  %}

{% block content %}

<div class="panel-body">
    <div class="text-center">
        <h4><i class="fa fa-unlock fa-4x"></i></h4>
        <h4>
            <div class="alert alert-warning">
                Your password has been changed.
            </div>
            <p><small>You will be redirect in 5 seconds...</small></p>
        </h4>
    </div>
</div>

<script type="text/javascript">
    setTimeout(function() {
        window.location.href = "{% url 'users:login' %}";
    }, 5000);
</script>
    
{% endblock content %}