{% extends 'account/base_account.html' %}
{% load static %}

{% block title %}Password Reset Confirm{% endblock title %}

{% block stylesheet %}
    <link rel="preload" as="style" rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="preload" as="style" rel="stylesheet" href="{% static 'css/reset-password.css' %}" >
    <link rel="preload" as="style" href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
{% endblock  %}

{% block content %}

<div class="card text-center">
    
    <div class="mt-2">
        <h3><i class="fa fa-unlock-alt fa-4x"></i></h3>
        <h2>Forgot Password?</h2>
        <p>You can reset your password here.</p>
    </div>
    <form id="register-form" role="form" autocomplete="off" class="form " method="post">
        <legend>Password Reset Confirmed.</legend>
        <div class="card-body">
            {% csrf_token %}
            {% if form.errors %}
            <div class="alert alert-warning" role="alert">
                Something went wrong. Please try again.
            </div>
            {% endif %} 
            <div class="form-group p-2">
                <p><label for="newpassword">{{form.new_password1.label}}</label></p>
                <p>{{form.new_password1}}</p>
                <p>{{form.new_password1.errors}}</p>
            
                <p><label for="newpasswordconfirmation">{{form.new_password2.label}}</label></p>
                <p>{{form.new_password2}}</p>
                <p>{{form.new_password2.errors}}</p>
                
                <input name="recover-submit" class="btn btn-sm btn-primary btn-block" value="Reset Password" type="submit">
            </div>
        </div>
    </form>
</div>
{% endblock content %}