{% extends 'account/base_account.html' %}
{% load static %}
{% load i18n %}
{% load account %}

{% block title %}Password Reset Change{% endblock title %}

{% block stylesheet %}
{% endblock  %}

{% block content %}
<div class="wrapper">
    <div class="card">
        <div class="card-body">
            <h3 class="text-center"><i class="fa fa-key fa-4x"></i></h3>
            <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
            {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <div class="h3 text-center text-white"><p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p></div>
            {% else %}
                {% if form %}
                    <form class="d-flex flex-column" novalidate method="POST">
                        {% csrf_token %}
                        <div class="h3 text-center text-white">Change Password</div>

                        <div class="d-flex align-items-center input-field my-3 mb-4"> <span class="fa fa-key p-2"></span> {{ form.password1 }} </div>
                        {{ form.password1.errors }}
                        <div class="d-flex align-items-center input-field my-3 mb-4"> <span class="fa fa-key p-2"></span> {{ form.password2 }} </div>
                        {{ form.password2.errors }}

                        <button class="btn btn-outline-light" name="action" type="submit" value="{% trans 'Change Password' %}"></button>
                        <a href="{% url 'users:account_login' %}" class="btn btn-outline-light m-2 btn-sm">Back to Login</a>
                    </form>
                {% else %}
                    <p>{% trans 'Your password is now changed.' %}</p>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}