{% extends 'account/base_account.html' %}
{% load static %}

{% block title %}Password Reset Done{% endblock title %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset-password.css' %}" >
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
{% endblock  %}

{% block content %}
<div class="panel-body">
    <div class="text-center">
        <h3><i class="fa fa-unlock-alt fa-4x"></i></h3>
        <h4>
            <div class="alert alert-warning">
                An email has been sent with instructions to reset your password.
            </div>
        </h4>
    </div>
</div>
<script type="text/javascript">
    setTimeout(function() {
        window.location.href = "{% url 'share:index' %}";
    }, 5000);
</script>
{% endblock content %}