{% extends 'account/base_account.html' %}
{% load account %}
{% load socialaccount %}

{% load i18n %}
{% load static %}

{% block title %}Log In{% endblock %}
{% block stylesheet %}
{% endblock  %}

{% block content %}
    <div class="wrapper">
        {% comment %} LOGO {% endcomment %}
        {% include 'account/logo.html'%}

        <div class="card">
            <div class="card-body">
                <form class="d-flex flex-column" novalidate method="POST">
                    {% csrf_token %}
                    <div class="h3 text-center text-white">Sign Up</div>
                    <div class="d-flex align-items-center input-field mb-2"> <span class="far fa-user p-2"></span> {{ form.username }} </div>
                    {% if form.username.errors %}
                        <div class="d-flex align-items-center input-field mb-2"> {{ form.username.errors }} </div>
                    {% endif %}

                    <div class="d-flex align-items-center input-field mb-2"> <span class="far fa-envelope p-2"></span> {{ form.email }} </div>
                    {% if form.email.errors %}
                        <div class="d-flex align-items-center input-field mb-2"> {{ form.email.errors }} </div>
                    {% endif %}

                    <div class="d-flex align-items-center input-field my-3 mb-2"> <span class="fas fa-lock p-2"></span> {{ form.password1 }} <button class="btn" type="button" data-bs-toggle="button" onclick="showPassword()"> <span class="fas fa-eye-slash"></span> </button> </div>
                    {% if form.password1.errors %}
                        <div class="d-flex align-items-center input-field mb-2"> {{ form.password1.errors }} </div>
                    {% endif %}
                    
                    <div class="d-flex align-items-center input-field mb-2"> <span class="fas fa-lock p-2"></span> {{ form.password2 }} <button class="btn" type="button" data-bs-toggle="button" onclick="showPassword()"> <span class="fas fa-eye-slash"></span> </button> </div>
                    {% if form.password2.errors %}
                        <div class="d-flex align-items-center input-field mb-2"> {{ form.password2.errors }} </div>
                    {% endif %}
                    
                    <div class="d-sm-flex align-items-sm-center justify-content-sm-between">
                        <div class="d-flex align-items-center"> <label class="option"> <span class="text-light-white">Remember Me</span> <input type="checkbox" checked> <span class="checkmark"></span> </label> </div>
                        <div class="mt-sm-0 mt-3"><a href="{% url 'users:account_reset_password' %}">Forgot password?</a></div>
                    </div>
                    
                    <div class="my-3"> <input type="submit" value="Sign In" class="btn btn-primary"></div>
                    <div class="mb-3"> <span class="text-light-white">You already have an account?</span> <a href="{% url 'users:account_login' %}"> Log In</a></div>
                </form>
                <div class="position-relative border-bottom my-3 line"> <span class="connect">or connect with</span> </div>
                <div class="text-center py-3 connections">
                    {% comment %} <a href="{% provider_login_url "instagram" method="oauth2" %}" target="_blank" class="px-2"> <img src="{% static 'img/instagram-logo.png' %}" alt="Instagram_Account"> </a>  {% endcomment %}
                    <a href="{% provider_login_url "facebook" method="oauth2" %}" target="_blank" class="px-2"> <img src="{% static 'img/facebook-logo.png' %}" alt="Facebook_Account"> </a> 
                    <a href="{% provider_login_url "google"  %}" target="_blank" class="px-2"> <img src="{% static 'img/google-logo.png' %}" alt="Google_Account"> </a> 
                    <a href="{% provider_login_url "linkedin_oauth2" %}" target="_blank" class="px-2"> <img src="{% static 'img/linkedin-logo.png' %}" alt="Linkedin_Account"> </a> 
                </div>
            </div>
        </div>
        <!-- ==================Footer================ -->
        <footer class="my-1 pt-1 text-muted text-center text-small text-white">
            <p class="mb-1 text-white">&copy; 2021 - {% now 'Y'%} SharePay</p>
            <ul class="list-inline">
            <li class="list-inline-item"><a href="{% url 'users:account_privacy_policy' %}">Privacy</a></li>
            <li class="list-inline-item"><a href="{% url 'users:account_service_term' %}">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
            </ul>
        </footer>
    </div>

    <script>
        function showPassword() {
            var password1 = document.getElementById('pwd1');
            var password2 = document.getElementById('pwd2');
            if (password1.type === 'password') {
                password1.type = "text";
            }
            else {
                password1.type = "password";
            }
            if (password2.type === 'password') {
                password2.type = "text";
            }
            else {
                password2.type = "password";
            }
        }
    </script>

    {% endblock content %}

{% block Scripts %}

{% endblock Scripts %}