{% extends 'account/base_account.html' %}
{% load static %}

{% block title %}Sign Up{% endblock %}

{% block stylesheet %}
    <link rel="preload" as="style" rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="preload" as="style" rel="stylesheet" href="{% static 'css/reset-password.css' %}" >
    <link rel="preload" as="style" href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
{% endblock  %}

{% block content %}
  
    <div class="d-flex py-3 flex-column">
        <div class="py-5">         
        </div>
        {% comment %} LOGO {% endcomment %}
          {% include 'account/logo.html' %}
    
        <div class="p-2 align-self-center">
            <div class="form-group">
                <form class="needs-validation" novalidate method="POST">
                    <legend>Welcome Sign Up.</legend>
                    {% csrf_token %}
                    {% if form.errors %}
                    <div class="alert alert-warning" role="alert">
                        You already have an account. Please try <a href="{% url 'users:login' %}">Log in.</a>
                    </div>
                    {% endif %}
                    <div class="p-2 align-self-center">
                        <!-- User Name Field -->
                        {{ form.username.label_tag }}
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">@</span>
                            </div>
                            {{ form.username }}
                        </div>
                        <div class="input-group">
                            {{ form.email.label_tag }}
                        </div>
                       {{ form.email }}
                        <div class="input-group">
                            {{ form.password1.label_tag }}
                        </div>
                        {{ form.password1 }}
                        <div class="input-group">
                            {{ form.password2.label_tag }}
                        </div>
                        {{ form.password2 }}
                    </div>
                    <div class="p-2 align-self-center">
                        <button class="btn btn-primary btn-md btn-block" type="submit" value="Sign Up">SignUp</button>
                        <a href="{% url 'users:login' %}"><small>Already have an account?</small></a>
                    </div>
                </form>
            </div>
        </div>
    

    <!-- ==================Footer================ -->

    <footer class="my-1 pt-1 text-muted text-center text-small">
        <p class="mb-1">&copy; 2021 - {% now 'Y'%} SharePay</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Privacy</a></li>
          <li class="list-inline-item"><a href="#">Terms</a></li>
          <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
      </footer>
    </div>
</div>
    {% endblock content %}

 <!-- Example starter JavaScript for disabling form submissions if there are invalid fields -->
{% block Scripts %}
    <script href="{% static 'js/signup_form.js' %}"></script>
{% endblock Scripts %}
