{% extends 'account/base_account.html' %}
{% load account %}
{% load socialaccount %}
{% load static %}

{% block title %}Sign Up{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset-password.css' %}" >
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
{% endblock  %}

{% block content %}
    <div class="wrapper">
        {% comment %} LOGO {% endcomment %}
        {% include 'account/logo.html' %}
        
        <div class="card">
            <form class="d-flex flex-column" novalidate method="POST">
                {% csrf_token %}
                {% if form.errors %}
                    <div class="h7 text-center alert alert-danger text-dark" role="alert">You already have an account! <a href="{% url 'users:login' %}" class= "text-dark">Log In</a></div>
                {% endif %}
                <div class="h3 text-center text-white">Login</div>
                <div class="d-flex align-items-center input-field my-3 mb-4"> <span class="far fa-user p-2"></span> {{ form.username }} </div>
                <div class="d-flex align-items-center input-field mb-4"> <span class="fas fa-lock p-2"></span> {{ form.password1 }} <button class="btn" onclick="showPassword()"> <span class="fas fa-eye-slash"></span> </button> </div>
                <div class="d-flex align-items-center input-field mb-4"> <span class="fas fa-lock p-2"></span> {{ form.password2 }} <button class="btn" onclick="showPassword()"> <span class="fas fa-eye-slash"></span> </button> </div>
                
                <div class="d-sm-flex align-items-sm-center justify-content-sm-between">
                    <div class="d-flex align-items-center"> <label class="option"> <span class="text-light-white">Remember Me</span> <input type="checkbox" checked> <span class="checkmark"></span> </label> </div>
                    <div class="mt-sm-0 mt-3"><a href="#">Forgot password?</a></div>
                </div>
                
                <div class="my-3"> <input type="submit" value="Login" class="btn btn-primary"> </div>
                <div class="mb-3"> <span class="text-light-white">Don't have an account?</span> <a href="{% url 'users:login' %}">Sign Up</a> </div>
            </form>
            <div class="position-relative border-bottom my-3 line"> <span class="connect">or connect with</span> </div>
            <div class="text-center py-3 connections"> 
                {% comment %} <a href="https://wwww.facebook.com" target="_blank" class="px-2"> <img src="https://www.dpreview.com/files/p/articles/4698742202/facebook.jpeg" alt=""> </a>  {% endcomment %}
                <a href="{% provider_login_url "google"  %}" target="_blank" class="px-2"> <img src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-suite-everything-you-need-know-about-google-newest-0.png" alt=""> </a> 
                {% comment %} <a href="https://www.github.com" target="_blank" class="px-2"> <img src="https://www.freepnglogos.com/uploads/512x512-logo-png/512x512-logo-github-icon-35.png" alt=""> </a> </div> {% endcomment %}
        </div>
        <!-- ==================Footer================ -->
        <footer class="my-1 pt-1 text-muted text-center text-small text-white">
            <p class="mb-1 text-white">&copy; 2021 - {% now 'Y'%} SharePay</p>
            <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
            </ul>
        </footer>
    </div>    

    {% endblock content %}

 <!-- Example starter JavaScript for disabling form submissions if there are invalid fields -->
{% block Scripts %}
    <script href="{% static 'js/signup_form.js' %}"></script>
    <script href="{% static 'js/signup_form2.js' %}"></script>
{% endblock Scripts %}