{% extends 'account/base_account.html' %}
{% load static %}

{% block title %}Log In{% endblock %}

{% block content %}
  
<div class="d-flex py-3 flex-column">
        <div class="py-1">         
        </div>
        {% comment %} LOGO {% endcomment %}
          {% include 'account/logo.html' %}
    
        <div class="p-2 align-self-center">
            <div class="form-group">
                <form class="needs-validation" novalidate method="POST">
                    {% csrf_token %}
                    {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Attetion!</strong> Check if your password is correct!
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endif %}
                    <div class="p-2 align-self-center">
                        <!-- User Name Field -->
                        {{ form.username.label_tag }}
                        <div class="input-group m-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text">@</span>
                            </div>
                            {{ form.username }}
                        </div>
                        <div class="input-group m-2">
                            {{ form.email.label_tag }}
                        </div>
                       {{ form.email }}
                        <div class="input-group m-2">
                            {{ form.password1.label_tag }}
                        </div>
                        {{ form.password1 }}
                        <div class="input-group m-2">
                            {{ form.password2.label_tag }}
                        </div>
                        {{ form.password2 }}
                    </div>
                    <div class="p-1 align-self-center">
                        <button type="submit" value="Update" class="btn btn-primary w-100 mb-1" >Update</button>
                        <a href="{% url 'share:index' %}" role="button" class="btn btn-secondary w-100 mb-1">Back</a>
                    </div>
                </form>
            </div>
        </div>
    

    <!-- ==================Footer================ -->

    <footer class="my-1 pt-1 text-muted text-center text-small">
        <p class="mb-1">&copy; 2021 - {% now 'Y'%} SharePay</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Privacy</a></li>
          <li class="list-inline-item"><a href="#">Terms</a></li>
          <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
      </footer>
    </div>
</div>
    {% endblock content %}

 <!-- Example starter JavaScript for disabling form submissions if there are invalid fields -->
{% block Scripts %}
    <script href="{% static 'js/signup_form.js' %}"></script>
{% endblock Scripts %}
