{% extends 'houses/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}SharePay - Pre-Details House.{{house.id}} {% endblock title %}

{% block content %}
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="{% static 'mp4/bg.mp4' %}" type="video/mp4">
  </video>

  <div class="masthead">
    <div class="masthead-bg"></div>
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-12 my-auto">
            <div class="masthead-content text-white py-5 py-md-0">
                <!-- ================================ -->
                  {% if messages %}
                    <ul class="detail_messages">
                        {% for message in messages %}
                            <li>{{message}}</li>
                        {% endfor %}
                    </ul>
                  {% endif %}
                <!-- ================================ -->
                <h3>Houses Informations</h3>
                  {% if house.house_bill_related.all %}
                    <a href="{% url 'share:detail_house_name' pk=house.id %}" role="button" class="btn btn-primary w-100 mb-2">Edit Main House Details</a>
                  {% else %}
                    <a href="{% url 'share:detail_house_name' pk=house.id %}" role="button" class="btn btn-primary w-100 mb-2">Add Main House Details</a>
                  {% endif %}
                  
                  {% if house.house_bill_related.all %}
                    {% if house.sub_house_related.all %}
                      <a href="{% url 'share:list_detail_sub_house_name' pk=house.id %}" role="button" class="btn btn-primary w-100 mb-2">Edit Sub Houses Details</a>
                    {% else %}
                      <a href="{% url 'share:list_detail_sub_house_name' pk=house.id %}" role="button" class="btn btn-primary w-100 mb-2">Add Sub Houses Details</a>
                    {% endif %}
                  {% endif %}

                <p class="pt-2">
                    <a href="{% url 'share:list_house_name' %} " role="button" class="btn btn-secondary w-100 p-1">Back</a>
                </p>
                
                {% if user.is_authenticated %}
                <div class="input-group-append">
                <a href="{% url 'users:logout' %}" type="button" class="btn btn-outline-warning btn-sm ">Log Out</a>
                </div>
                {% endif %}
            </div>
        </div>
      </div>
    </div>
  </div>

  {% include 'social_media/social_media.html' %}
{% endblock content %}
