{% extends 'houses/base.html' %}
{% load static %}
{% load humanize %}
{% load adv_cache %}

{% block title %}SharePay - Pre-Details House.{{house.id}} {% endblock title %}

{% block content %}
{% include 'houses/video.html' %}
{% cache 10080 'predetailhousename' request.user.pk request.user.last_login %}
  <div class="masthead">
    <div class="masthead-bg"></div>
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-12 my-auto">
            <div class="masthead-content text-white py-5 py-md-0">
            {% comment %} LOGO {% endcomment %}
          {% include 'houses/logo.html' %}
                <!-- ================================ -->
                  {% comment %} {% if messages %}
                    <ul class="detail_messages">
                        {% for message in messages %}
                            <li>{{message}}</li>
                        {% endfor %}
                    </ul>
                  {% endif %} {% endcomment %}
                <!-- ================================ -->
                <h3>Houses Informations</h3>
                {% nocache %}
                  {% if house.house_bill_related.all %}
                    <a href="{% url 'share:detail_house_name' pk=house.id %}" role="button" class="btn btn-primary w-100 mb-2">Edit Main House Details</a>
                  {% else %}
                    <a href="{% url 'share:detail_house_name' pk=house.id %}" role="button" class="btn btn-primary w-100 mb-2">Add Main House Details</a>
                  {% endif %}
                  
                  {% if house.house_bill_related.all %}
                    {% if house.sub_house_related.all %}
                      <a href="{% url 'share:list_detail_sub_house_name' pk=house.id %}" role="button" class="btn btn-primary w-100 mb-2">Edit Sub Houses Details</a>
                    {% else %}
                      <a href="{% url 'share:list_detail_sub_house_name' pk=house.id %}" role="button" class="btn btn-primary w-100 mb-2">Add Sub Houses Details</a>
                    {% endif %}
                  {% endif %}

                <p class="pt-2">
                    <a href="{% url 'share:list_house_name' %} " role="button" class="btn btn-secondary w-100 p-1">Back</a>
                </p>
                
                {% if user.is_authenticated %}
                <div class="input-group-append">
                  {% include 'account/is_authenticated.html' %}
                </div>
                {% endif %}
                {% endnocache %}
            </div>
        </div>
      </div>
    </div>
  </div>
  {% endcache %}

  {% include 'social_media/social_media.html' %}
{% endblock content %}
