{% extends 'registration/base.html' %}

{% block content %}

<div class="panel panel-default">
    <div class="panel-body">
        <div class="text-center">
            <h3><i class="fa fa-unlock-alt fa-4x"></i></h3>
            <h2 class="text-center">Forgot Password?</h2>
            <p>You can reset your password here.</p>
            <div class="panel-body">
                <form id="register-form" role="form" autocomplete="off" class="form" method="post">
                    {% csrf_token %}
                    {% if form.errors %}
                    <div class="alert alert-warning" role="alert">
                        Something went wrong. Please try again.
                    </div>
                    {% endif %}
                    <div class="form-group">
                        <div class="input-group">
                            {{ form.new_password1 }}
                        </div>
                        <div class="input-group">
                            {{ form.new_password2 }}
                        </div>
                    </div>
                    <div class="form-group p-2">
                    <input name="recover-submit" class="btn btn-sm btn-primary btn-block" value="Reset Password" type="submit">
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}