table {
    font-family: 'Source Sans Pro', sans-serif;
    border-collapse: separate;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
  /* from https://bootstrapcreative.com/can-adjust-text-size-bootstrap-responsive-design/ */
  .text-responsive {
    font-size: calc(90% + 1vw + 1vh);
  }
  .text-responsive2 {
    font-size: calc(50% + 1vw + 1vh);
  }