{% extends 'houses/base.html' %}
{% load static %}

{% block title %}SharePay - Sub House{% endblock title %}

{% block content %}
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="{% static 'mp4/bg.mp4' %}" type="video/mp4">
  </video>
  <div class="masthead">
    <div class="masthead-bg"></div>
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-12 my-auto">
          <div class="masthead-content py-5 py-md-0">
            <form action="" method="POST", enctype="multipart/form-data">
                {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field.erros }}
                    {{ hidden_field }}
                {% endfor %}

                {% csrf_token %}

                {{ form.management_form }}
                {{ form.non_form_errors }}
                {{ form.non_filed_errors }}
                

                <h3 class='text-white'>Add Sub Houses</h3>
                {% for sub_house_form in form.forms %}
                    <hr>
                {% for hidden_field in sub_house_form.hidden_fields %}
                    {{ hidden_field.erros }}
                {% endfor %}
                <div class="row">
                    <div class="col ">
                        <p class='text-white'>Sub House Name:</p>
                        <p>{{sub_house_form.sub_house_name}}</p>
                        <p>{{sub_house_form.sub_house_name.errors}}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <p class='text-white' >How many meters:</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>{{sub_house_form.sub_meter}}</p>
                        <p>{{sub_house_form.sub_meter.errors}}</p>
                    </div>
                </div>
                {% if form.can_delete and sub_house_form.instance.id %}
                  <div class="row">
                      <div class="col">
                          <!-- If you are useing formset as ModelFormSet (name_form.id) -->
                          {{ sub_house_form.id }}
                          <p class='text-white'>{{ sub_house_form.DELETE }} - <b>Delete</b></p>
                      </div>
                  </div>
                {% endif %}
                {% endfor %}
                <hr>
                <p>
                {% if sub_houses.sub_house_related.all %}
                    <button type="submit" value="Add Tenants" class="btn btn-primary w-100 mb-3" >Update Sub House Name</button>
                {% else %}
                    <button type="submit" value="Add Tenants" class="btn btn-primary w-100 mb-3" >Add Sub House Name</button>
                {% endif %}
                
                    <a href="{% url 'share:list_detail_sub_house_name' sub_houses.id %}" role="button" class="btn btn-secondary w-100">Back</a>
                </p>
            </form>


            {% if user.is_authenticated %}
            <hr>
            <div class="input-group-append">
              <a href="{% url 'users:logout' %}" type="button" class="btn btn-outline-warning btn-sm ">Log Out</a>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include 'social_media/social_media.html' %}
{% endblock content %}