{% extends 'houses/base_add_tenant.html' %}
{% load static %}
{% load humanize %}


{% block title %}SharePay - Add Tenants{% endblock title %}

{% block content %}
<div class="container">
    <div class="contact-image p-4">
        {% comment %} LOGO {% endcomment %}
        {% include 'houses/logo.html' %}
        {% comment %} <img class="d-block  py-2 mx-auto align-self-center" src="{% static 'logo/sharepay_text.png' %}" alt="SharePay" width="112" height='mx-auto'> {% endcomment %}
    </div>
    <!-- ================================ -->
    {% if messages %}
    <ul class="tenant_messages">
        {% for message in messages %}
            <li>{{message}}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <!-- ================================ -->
    <div class="d-flex flex-column  text-white">
        <div class="p-2">
            <h1>Tenants - {{houses.house_tenant_related.all.count }}</h>
        </div>
        <div class="p-2">
            <p>Bill Period - {{houses.house_bill_related.first.start_date_bill }} to {{houses.house_bill_related.first.end_date_bill }}</p>
        </div>
    </div>
    <form action="" method="POST", enctype="multipart/form-data">
        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field.erros }}
            {{ hidden_field }}
        {% endfor %}
        {% csrf_token %}
        {{ form.management_form }}
        {{ form.non_form_erros }}
        {{ form.non_filed_errors }}
        
        {% for hidden_field in name_form.hidden_fields %}
        {{ hidden_field.erros }}
        {% endfor %}
        <!-- ================ Start Dynamic FormSet ================ -->
        {% for name_form in form.forms %}
            <div class="dynamicInlineFormSet">
                <hr>
                <div class="form-row text-white">
                    <div class="form-group col-md-6">
                        <label for="inputName">Tenant's Name</label>
                        {{name_form.house_tenant}}
                        <p class=mt-1>{{name_form.house_tenant.errors}}</p>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputStartDay">Start Day</label>
                        {{name_form.start_date}}
                        <p class=mt-1>{{name_form.start_date.errors}}</p>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputEndDay">End Day</label>
                        {{name_form.end_date}}
                        <p class=mt-1>{{name_form.end_date.errors}}</p>
                    </div>
                    <div class="form-group col-md-2">
                        <label class="mb-2 flex-wrap" for="inputSelect">Select</label>
                        <ul class="list-inline m-0">
                            {% if form.can_delete and name_form.instance.id %}{{ name_form.id }}{{ name_form.DELETE }}{% endif %}
                            {% comment %} <a class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Add"><i class="fa fa-table"></i></a> {% endcomment %}
                        </ul>
                    </div>
                    {% comment %} {% if form.can_delete and name_form.instance.id %}{{ name_form.id }}{{ name_form.DELETE }}{% endif %} {% endcomment %}
                </div>
            </div>
        {% endfor %}
        <!-- ================ End Dynamic FormSet ================ -->
        <div class="row p-2">
            <div class="col p-0 text-white">  
                <button type="submit" value="Add Tenants" class="btn btn-primary w-100 mb-3" >Save</button>
                <a href="{% url 'share:detail_house_name' pk=houses.id%}" role="button" class="btn btn-secondary w-100">Back</a>
            </div>
        </div>
    </form>
    {% if user.is_authenticated %}
        <div class="input-group-append py-3 pl-2">
            {% include 'account/is_authenticated.html' %}
        </div>
    {% endif %}
</div>
{% endblock content %}

{% block Scripts %}
<!--  Adding Dynamic FormSet  -->
<!-- Bug Fixed: https://github.com/elo80ka/django-dynamic-formset/issues/180 -->
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script type="text/javascript">
        $(function() {
            $('.dynamicInlineFormSet').formset({
                prefix: '{{form.prefix}}',
                formCssClass: 'dynamicInlineFormSet',
                //Add Modifications
                addCssClass: 'btn btn-success btn-sm rounded-0', //from line 185 js file
                //addContainerClass: 'dynamicInlineFormSet',
                addText: ' Add Another',
                //Delete Modifications
                deleteCssClass: 'btn btn-danger btn-sm rounded-0',
                deleteText: ' Remove',//just to remove the name
                deleteContainerClass: 'list-inline m-0',//Encontre esse cara e add
                //extraClasses:['']
                //formTemplate:'dynamicInlineFormSet2'
            });
        })
    </script>
<!--  Adding Toll Tips  -->
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
            });
    </script>
   
{% endblock Scripts %}
{% comment %} https://github.com/elo80ka/django-dynamic-formset/ {% endcomment %}