{% extends 'houses/base.html' %}
{% load static %}

{% block title %}SharePay - Bill{% endblock title %}

{% block content %}
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="{% static 'mp4/bg.mp4' %}" type="video/mp4">
  </video>
  <div class="masthead">
    <div class="masthead-bg"></div>
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-12 my-auto">
          <div class="masthead-content text-white py-5 py-md-0">
            <!-- ================================ -->
                    {% if messages %}
                    <ul class="bill_messages">
                        {% for message in messages %}
                            <li>{{message}}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
            <!-- ================================ -->
            <form action="" method="POST", enctype="multipart/form-data">
                {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field.erros }}
                    {{ hidden_field }}
                {% endfor %}

                {% csrf_token %}

                {{ form.management_form }}
                {{ form.non_form_erros }}

                <h3>Add a Value of Bill</h3>
                {% for bill_form in form.forms %}
                    <hr>
                {% for hidden_field in bill_form.hidden_fields %}
                    {{ hidden_field.erros }}
                {% endfor %}
                <div class="row">
                    <div class="col">
                        <p>What is the value's bill:</p>
                        <p>{{bill_form.amount_bill}}</p>
                        <p>{{bill_form.amount_bill.errors}}</p>
                    </div>
                    <div class="col">
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>What is the bill's period?</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>From:</p>
                    </div>
                    <div class="col">
                        <p>{{ bill_form.start_date_bill }}</p>
                        <p>{{bill_form.start_date_bill.errors}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>End:</p>
                    </div>
                    <div class="col">
                        <p>{{ bill_form.end_date_bill }}</p>
                        <p>{{bill_form.end_date_bill.errors}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {% if form.can_delete  and bill_form.instance.id %} 
                        <!-- If you are useing formset as ModelFormSet, you must provide the ID onto FormSet -->
                        {{bill_form.id}}
                        <p>{{ bill_form.DELETE }} - <b>Delete</b></p>
                    {% endif %}
                    </div>
                </div>
                {% endfor %}
                <hr>
                <p>
                {% for bill in  housesbill.house_bill_related.all %}
                    <button type="submit" value="Add Tenants" class="btn btn-primary w-100 mb-3" >Update House Bill</button>
                {% empty %}
                    <button type="submit" value="Add Tenants" class="btn btn-primary w-100 mb-3" >Add House Bill</button>
                {% endfor %}
                    <a href="{% url 'share:detail_house_name' pk=housesbill.id %}" role="button" class="btn btn-secondary w-100">Back</a>
                </p>
            </form>


            {% if user.is_authenticated %}
            <hr>
            <div class="input-group-append">
              <a href="{% url 'users:logout' %}" type="button" class="btn btn-outline-warning btn-sm ">Log Out</a>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include 'social_media/social_media.html' %}
{% endblock content %}

{% block mask_Script %}
<script src="{% static 'js/jquery.mask.min.js' %}"></script>

<script>
$(document).ready(function(){
  $('.date').mask('00/00/0000');
  $('#id_amount_bill').mask('000.000.000.000.000,00', {reverse: true});
  $('.money2').mask("#.##0,00", {reverse: true});
});
</script>

{% endblock mask_Script %}

