{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body style="margin: 0; padding: 0;">
<table align="center" border="0" cellpadding="0" cellspacing="0" width="320" style="border: none; border-collapse: collapse; font-family:  Arial, sans-serif; font-size: 14px; line-height: 1.5;">
    {% block content %}
        {% autoescape on %}
            <a href="https://www.sharepay.com.br/">
                <picture>
                    <source media="(min-width:650px)" srcset="{% static 'logo/sharepay_branco_xl.png' %}">
                    <source media="(min-width:465px)" srcset="{% static 'logo/sharepay_branco_xl.png' %}">
                    <img class="img-fluid py-2 mx-auto d-block" src="{% static 'logo/sharepay_branco_sm.png' %}" alt="SharePay" max-width: "100%" width="250" height="auto">
                </picture>
            </a>
            {% blocktranslate %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktranslate %}
            {% translate "Please go to the following page and choose a new password:" %}
            {% block reset_link %}
            {{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}
            {% endblock %}

            {% translate 'Your username, in case you’ve forgotten:' %} {{ user.get_username }}

            {% translate "Thanks for using our site!" %}

            {% translate "The Sharepay team!" %}

        {% endautoescape %}

    {% endblock content %} 
</table>       
</body>
</html>

