{% load cache %}

{% cache 43200 'social_links'  %}
<div class="social-icons">
    <ul class="list-unstyled text-center mb-0">
      <li class="list-unstyled-item">
        <a href="https://www.instagram.com/sharepaybill/" target= "_blank">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li class="list-unstyled-item">
        <a href="https://www.instagram.com/sharepaybill/" target= "_blank">
          <i class="fab fa-facebook-f"></i>
        </a>
      </li>
      <li class="list-unstyled-item">
        <a href="https://www.instagram.com/sharepaybill/" target= "_blank">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
    </ul>
</div>
{% endcache %}