{% extends 'houses/base.html' %}
{% load static %}
{% load humanize %}
{% load adv_cache %}

{% block title %}SharePay - Delete House - {{house.id}} {% endblock title %}

{% block content %}
{% include 'houses/video.html' %}
{% cache 0 'deletehouse' request.user.pk request.user.last_login %}
  <div class="masthead">
    <div class="masthead-bg"></div>
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-12 my-auto">
            <div class="masthead-content text-white py-5 py-md-0">
            {% comment %} LOGO {% endcomment %}
          {% include 'houses/logo.html' %}
            <h2 class="h3">Delete House</h2>
            {% nocache %}
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                      <p>You will <q><b>permanently</b></q> delete:</p>
                      <ul>
                        <li><p>{{house.house_name}}</p></li>
                        <ul>
                          <li>Bill</li>
                          <li>KiloWatts and SubKiloWatts</li>
                          <li>Tenants and SubTenants</li>
                        </ul>
                      </ul>
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-danger text-white m-2" type="submit">Yes. Delete House</button>
                        <a class="btn btn-warning" href="{% url 'share:list_house_name' %}">Back</a>
                    </div>
                </form>
                {% if user.is_authenticated %}
                <div class="input-group-append">
                  {% include 'account/is_authenticated.html' %}
                </div>
                {% endif %}
                {% endnocache %}
            </div>
        </div>
      </div>
    </div>
  </div>
{% endcache %}

  {% include 'social_media/social_media.html' %}
{% endblock content %}
