{% extends 'houses/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}SharePay - Delete House - {{house.id}} {% endblock title %}

{% block content %}
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="{% static 'mp4/bg.mp4' %}" type="video/mp4">
  </video>

  <div class="masthead">
    <div class="masthead-bg"></div>
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-12 my-auto">
            <div class="masthead-content text-white py-5 py-md-0">
            <h2 class="h3">Delete House</h2>
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <p>You will <q><b>permanently</b></q> delete:</p>
                        <ul>
                          <li>{{subhouse.sub_house_name}}</li>
                          <ul>
                            {% for sub in subhouse.sub_house_tenant_related.all %}
                              <li>{{sub}}</li>
                            {% empty%}
                              <li>No Tenants had been added.</li>
                            {% endfor %}
                            {% for sub in subhouse.sub_house_kilowatt_related.all %}
                              <li>{{sub.sub_kwh}} kwh</li> 
                            {% empty%}
                              <li>No SubKilowatts had been added.</li>
                            {% endfor %}
                          </ul>
                        </ul>
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-danger text-white m-2" type="submit">Yes. Delete House</button>
                        <a class="btn btn-warning" href="{% url 'share:list_detail_sub_house_name' pk=house.id %}">Back</a>
                    </div>
                </form>
                {% if user.is_authenticated %}
                <div class="input-group-append">
                <a href="{% url 'users:logout' %}" type="button" class="btn btn-outline-warning btn-sm ">Log Out</a>
                </div>
                {% endif %}
            </div>
        </div>
      </div>
    </div>
  </div>

  {% include 'social_media/social_media.html' %}
{% endblock content %}
