{% extends 'houses/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}SharePay - Details House - {{house.id}} {% endblock title %}

{% block content %}
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="{% static 'mp4/bg.mp4' %}" type="video/mp4">
  </video>

  <div class="masthead">
    <div class="masthead-bg"></div>
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-12 my-auto">
            <div class="masthead-content text-white py-5 py-md-0">
                <!-- ================================ -->
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li>{{message}}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                <!-- ================================ -->
                <!-- ================================ -->
                <h3>Tenants from {{house.house_name}}</h3>
                {% comment %} <div class="d-flex d-flex-inline">
                    <span class="pe-2">Owner Name:</span><h5>{{ house.user|capfirst  }}</h5>
                </div> {% endcomment %}
                {% if house.house_bill_related.all %}
                    {% for bill in  house.house_bill_related.all %}
                        <div class="d-flex d-flex-inline">
                            <span class="pe-2"><h6>Amout: €{{ bill.amount_bill|intcomma }}</h6></span>
                        </div>
                    {% endfor %}
                    <a href="{% url 'share:add_house_bill' pk=house.id %}" role="button" class="btn btn-primary w-100 mb-2">Edit Bill Value</a>
                {% else %}
                    <a href="{% url 'share:add_house_bill' pk=house.id %}" role="button" class="btn btn-primary w-100 mb-2">Add Bill Value</a>
                {% endif %}
                {% if object_list %}
                    <a href="{% url 'share:edit_house_name' pk=house.id %}" role="button" class="btn btn-primary w-100 mb-2">Add Another Tenant</a>
                    <div> <b>Total Tenants:</b> {{house.house_tenant_related.all.count}}</div>
                    {% for name in object_list %}
                      <div class="small">House Id: {{ name.id }}</div>
                      <div>{{forloop.counter}} - <strong>Tenant's Name:</strong> {{ name.house_tenant }}</div>
                      <div>Days: {{ name.days }}</div>  
                      <hr>
                    {% endfor %}
                  <!-- Paginations -->
              
                {% if is_paginated %}

                    {% if page_obj.has_previous %}<!-- Esse o objeto que nossa Views passa dentro do nosso template -->
                        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    {% endif %}

                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}<!-- page_obj.number e o numero atual da pagina -->
                            <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                            <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                        {% endif %}

                    {% endfor %}

                    {% if page_obj.has_next %}<!-- Esse o objeto que nossa Views passa dentro do nosso template -->
                        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a> <!-- page_obj.pagintor.num_pages Retorna o numero total de paginas -->
                    {% endif %}

                {% endif %} 
                {% else %}
                    <a href="{% url 'share:edit_house_name' pk=house.id %}" role="button" class="btn btn-primary w-100 mb-2">Add Tenants</a>
                {% endif %}
                {% if house.house_tenant_related.all %}
                <p>
                    {% comment %} <a href="{% url 'share:edit_house_name' pk=house.id %}" role="button" class="btn btn-primary w-100 mb-2">Edit or Add Tenants</a> {% endcomment %}
                    <a href="{% url 'share:list_house_name' %}" role="button" class="btn btn-secondary w-100 p-1">All House's Name</a>
                </p>
                {% else %}
                <p class="pt-2">
                    <a href="{% url 'share:list_house_name' %} " role="button" class="btn btn-secondary w-100 p-1">Back</a>
                </p>
                {% endif %}

                {% if user.is_authenticated %}
                <div class="input-group-append">
                <a href="{% url 'users:logout' %}" type="button" class="btn btn-outline-warning btn-sm ">Log Out</a>
                </div>
                {% endif %}
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="social-icons">
    <ul class="list-unstyled text-center mb-0">
      <li class="list-unstyled-item">
        <a href="#">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li class="list-unstyled-item">
        <a href="#">
          <i class="fab fa-facebook-f"></i>
        </a>
      </li>
      <li class="list-unstyled-item">
        <a href="#">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
    </ul>
  </div>
{% endblock content %}
