{% extends 'houses/base.html' %}
{% load static %}
{% load humanize %} 
{% load adv_cache %}

{% block title %}SharePay - Details House {% endblock title %}

{% block content %}
{% include 'houses/video.html' %}
{% cache 0 'detailhousename' request.user.pk request.user.last_login %}
<div class="masthead">
  <div class="masthead-bg"></div>
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-12 my-auto">
        <div class="masthead-content text-white py-5 py-md-0">
          {% comment %} LOGO {% endcomment %}
          {% include 'houses/logo.html' %}
          <!-- ================================ -->
            {% if messages %}
              <ul class="detail_messages">
                  {% for message in messages %}
                      <li>{{message}}</li>
                  {% endfor %}
              </ul>
            {% endif %}
          <!-- ================================ -->
          {% nocache %}
          <h3>Details from {{house.house_name}}</h3>
          <a href="{% url 'share:update_house_name' pk=house.id %}" role="button" class="btn btn-outline-primary text-white w-100 mb-2">Edit House Name</a>
          {% if house.house_bill_related.all %}
              {% for bill in  house.house_bill_related.all %}
                  <div class="d-flex d-flex-inline">
                      <span class="pe-2"><h6>Amout: €{{ bill.amount_bill|intcomma }}</h6></span>
                  </div>
              {% endfor %}
              <a href="{% url 'share:add_house_bill' pk=house.id %}" role="button" class="btn btn-primary w-100 mb-2">Edit Bill Value</a>
          {% else %}
              <a href="{% url 'share:add_house_bill' pk=house.id %}" role="button" class="btn btn-success w-100 mb-2">Add Bill Value</a>
          {% endif %}
          

          {% if house.house_bill_related.all %}
            {% if house.house_kilowatt_related.all %}
              {% for kwh in  house.house_kilowatt_related.all %}
                  <div class="d-flex d-flex-inline">
                      <span class="pe-2"><h6>Read: {{kwh.kwh}}-kwh</h6></span>
                  </div>
              {% endfor %}
                <a href="{% url 'share:add_house_kwh' pk=house.id %}" role="button" class="btn btn-primary w-100 mb-2">Edit Kilowatts</a>
            {% else %}
              <a href="{% url 'share:add_house_kwh' pk=house.id %}" role="button" class="btn btn-success w-100 mb-2">Add Kilowatts</a>
            {% endif %}
          {% endif %}

          {% if house.house_bill_related.all and house.house_kilowatt_related.all %} 
            {% if object_list %}<!-- for Paginations -->
              <span class="pe-2"><h6>Total Tenants: {{house.house_tenant_related.all.count}}</h6></span>
                <a href="{% url 'share:add_house_tenant_name' pk=house.id %}" role="button" class="btn btn-primary w-100 mb-2">Add/Edit Tenant</a>
                {% for name in object_list %}
                  {% comment %} <div class="small">Tenant Id: {{ name.id }}</div> {% endcomment %}
                  <div><strong>Tenant's Name:</strong> {{ name.house_tenant }}</div>
                  <div><b>{{name.days}} days</b> living at {{name.house_name_FK}}</div>  
                  <hr>
                {% endfor %}

              <!-- Paginations -->
              {% if is_paginated %}

                  {% if page_obj.has_previous %}<!-- Esse o objeto que nossa Views passa dentro do nosso template -->
                      <a class="btn btn-outline-primary mb-4 mr-1" href="?page=1">First</a>
                      <a class="btn btn-outline-primary mb-4 mr-1" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                  {% endif %}

                  {% for num in page_obj.paginator.page_range %}
                      {% if page_obj.number == num %}<!-- page_obj.number e o numero atual da pagina -->
                          <a class="btn btn-primary mb-4 mr-1" href="?page={{ num }}">{{ num }}</a>
                      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                          <a class="btn btn-primary mb-4 mr-1" href="?page={{ num }}">{{ num }}</a>
                      {% endif %}

                  {% endfor %}

                  {% if page_obj.has_next %}<!-- Esse o objeto que nossa Views passa dentro do nosso template -->
                      <a class="btn btn-outline-primary mb-4 mr-1" href="?page={{ page_obj.next_page_number }}">Next</a>
                      <a class="btn btn-outline-primary mb-4 mr-1" href="?page={{ page_obj.paginator.num_pages }}">Last</a> <!-- page_obj.pagintor.num_pages Retorna o numero total de paginas -->
                  {% endif %}

              {% endif %} 
            {% else %}
                <a href="{% url 'share:add_house_tenant_name' pk=house.id %}" role="button" class="btn btn-success w-100 mb-2">Add Tenants</a>
            {% endif %}
          {% endif %}

          {% if house.house_tenant_related.all and house.house_bill_related.all and house.house_kilowatt_related.all%}
            {% if house.sub_house_related.all %}
              <a href="{% url 'share:list_detail_sub_house_name' pk=house.id %}" role="button" class="btn btn-info w-100 mb-2">Edit Sub Houses</a>
            {% else %}
              <a href="{% url 'share:add_sub_house' pk=house.id %}" role="button" class="btn btn-success w-100 mb-2">Add Sub Houses</a>
            {% endif %}
            
            <a href="{% url 'share:reports_view' pk=house.id  %}" role="button" class="btn btn-success w-100 mb-2">Reports</a>

            <a href="{% url 'share:pre_detail_house_name' pk=house.id %} " role="button" class="btn btn-secondary w-100 mb-2">Back</a>

            <a href="{% url 'share:list_house_name' %}" role="button" class="btn btn-secondary w-100 mb-2">Go Back to The Main House</a>
          {% else %}
            <a href="{% url 'share:pre_detail_house_name' pk=house.id %} " role="button" class="btn btn-secondary w-100 mb-2">Back</a>
          {% endif %}

          {% if user.is_authenticated %}
          <div class="input-group-append">
            {% include 'account/is_authenticated.html' %}
          </div>
          {% endif %}
          {% endnocache %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endcache %}
  {% include 'social_media/social_media.html' %}
{% endblock content %}
