{% extends 'houses/base.html' %}
{% load static %}


{% block title %}SharePay - Welcome{% endblock title %}

{% block content %}
  <div class="overlay"></div>
  <video playsinline="playsinline" id="mainvideo" autoplay="autoplay" muted="muted" loop="loop">
    <source src="{% static 'mp4/bg.mp4' %}" type="video/mp4">
  </video>

  <div class="masthead">
    <div class="masthead-bg"></div>
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-12 my-auto">
          <div class="masthead-content text-white py-5 py-md-0">
          {% comment %} LOGO {% endcomment %}
          {% include 'houses/logo.html' %}
          
          {% if user.is_authenticated %}
            {% if houses %}
              <h1 class="mb-3">Welcome Back, {{ user|capfirst }}!</h1>
            {% else %}
              <h1 class="mb-3">Are you ready, {{ user|capfirst }}?</h1>
            {% endif %}
          {% else %}
          <h1 class="mb-3">Welcome!</h1>
          {% endif %}
          <p> Group house bills causing a problem? Not anymore!</p>
            <p class="mb-5">Share how much each house mates will pay in
              <strong>{% now 'M Y' %}</strong>! Sign up and lets break it down!</p>

              {% if not user.is_authenticated %}
            <div class="input-group input-group-newsletter">
              <!-- <input type="email" class="form-control" placeholder="Enter email..." aria-label="Enter email..." aria-describedby="submit-button"> -->
              <div class="input-group-append">
                <a href="{% url 'users:account_signup' %}" type="button" class="btn btn-outline-success btn-lg btn-block">Sign Up</a>
              </div>
              <div class="input-group-append">
                <a href="{% url 'users:account_login' %}" type="button" class="btn btn-outline-info btn-lg btn-block">Log in</a>
              </div>
            </div>
            {% else %}
            <div class="input-group input-group-newsletter">
            {% if houses %}
              <div class="input-group-append p-3">
                <a href="{% url 'share:list_house_name' %}" type="button" class="btn btn-outline-warning btn-lg btn-block">Edit SharePay</a>
              </div>
            {% else %}
              <div class="input-group-append p-3">
                <a href="{% url 'share:create_house_name' %}" type="button" class="btn btn-outline-warning btn-lg btn-block">Start SharePay</a>
              </div>
            {% endif %}
              
            </div>
            {% endif %}

              
            {% if user.is_authenticated %}
              <div class="input-group-append p-3">
                {% include 'account/is_authenticated.html' %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include 'social_media/social_media.html' %}
{% endblock content %}

{% block Scripts %}
{% endblock Scripts %}

