{% extends 'houses/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}SharePay - Details House - {{house.id}} {% endblock title %}

{% block content %}
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="{% static 'mp4/bg.mp4' %}" type="video/mp4">
  </video>

  <div class="masthead">
    <div class="masthead-bg"></div>
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-12 my-auto">
            <div class="masthead-content text-white py-5 py-md-0">
            {% comment %} LOGO {% endcomment %}
          {% include 'houses/logo.html' %}
                <!-- ================================ -->
                  {% if messages %}
                    <ul class="detail_messages">
                        {% for message in messages %}
                            <li>{{message}}</li>
                        {% endfor %}
                    </ul>
                  {% endif %}
                <!-- ================================ -->
                <!-- Sub Houses Details -->
                <h3 class='p-2'>Sub Houses Details from {{house.house_name}}</h3>
                {% comment %} Is there Sub House Name? {% endcomment %}
                {% if house.sub_house_related.all %}
                    {% for detail_house_name in house.sub_house_related.all %}
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                      <div class="btn-group mr-2" role="group" aria-label="First group">
                        <a type="button" class="btn btn-outline-primary text-white mb-2" href="#">{{detail_house_name.sub_house_name}}</a>
                      </div>
                      <div class="btn-group mr-2" role="group" aria-label="Second group">
                        <a type="button" class="btn btn-outline-success text-white mb-2" href="{% url 'share:detail_sub_house_name' pk=house.id subpk=detail_house_name.id %}">Edit</a>
                      </div>
                      <div class="btn-group" role="group" aria-label="Third group">
                        <a type="button" class="btn btn-outline-warning text-white mb-2" href="{% url 'share:delete_sub_house_name' pk=house.id subpk=detail_house_name.id %}">Delete</a>
                      </div>
                    </div>
                    {% endfor %}
                    
                    <p class="pt-2">
                      {% if house.sub_house_related.all.count == 5 %}
                        <p>The limit of 3 Sub House has been registered.</p>
                        <p>You can edit or delete one of them.</p>
                      {% endif %}
                      <a href="{% url 'share:add_sub_house' pk=house.id %}" role="button" class="btn btn-secondary w-100 p-1 mb-2">Add Sub House</a>
                      <a href="{% url 'share:pre_detail_house_name' pk=house.id %}" role="button" class="btn btn-secondary w-100 p-1 mb-2">Back</a>
                    </p>
                {% else %}
                  <a href="{% url 'share:add_sub_house' pk=house.id %}" role="button" class="btn btn-primary w-100 mb-2">Add Sub Houses</a>
                  <a href="{% url 'share:pre_detail_house_name' pk=house.id %}" role="button" class="btn btn-secondary w-100 mb-2">Back</a>
                {% endif %}
                
                {% if user.is_authenticated %}
                <div class="input-group-append">
                <a href="{% url 'users:logout' %}" type="button" class="btn btn-outline-warning btn-sm ">Log Out</a>
                </div>
                {% endif %}
            </div>
        </div>
      </div>
    </div>
  </div>

  {% include 'social_media/social_media.html' %}
{% endblock content %}