{% extends 'houses/base.html' %}
{% load static %}

{% block title %}
  {% if housesnames.count > 1 %}
    SharePay - Houses
  {% else %}
    SharePay - House
  {% endif %}
{% endblock title %}


{% block content %}
   <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="{% static 'mp4/bg.mp4' %}" type="video/mp4">
  </video>

  <div class="masthead">
    <div class="masthead-bg"></div>
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-12 my-auto">
          <div class="masthead-content text-white py-5 py-md-0">
            <h2 class="h3 p-1">Houses</h2>
                {% if housesnames %}
                  <ul class="list-group">
                    {% for housename in housesnames %}
                      <div class="list-group ">
                        <div class="d-flex flex-row">
                          <a href="{{ housename.get_absolute_url }}" class="list-group-item list-group-item-action list-group-item-primary flex-column align-items-start p-2 col-7">
                            <div class="d-flex w-100 justify-content-between">
                              <h6 class="mb-1">{{housename.house_name}}</h6>
                            </div>
                          </a>
                          <a href="{% url 'share:update_house_name' pk=housename.id %}" class="list-group-item list-group-item-action list-group-item-success flex-column align-items-start p-1 "><b>Update</b></a>
                          <a href="{% url 'share:delete_house_name' pk=housename.id %}" class="list-group-item list-group-item-action list-group-item-danger flex-column align-items-start p-1 ">Delete</a>
                        </div>
                      </div> 
                    {% endfor %}
                  </ul>

                {%else %}
                <p>There is no House to display</p>
                {% endif %}
                <p class="pt-2">
                    <a href="{% url 'share:create_house_name' %}" role="button" class="btn btn-secondary w-100 p-1 mb-2">Add House</a>
                    <a href="{% url 'share:index' %} " role="button" class="btn btn-secondary w-100 p-1 mb-2">Back</a>
                </p> 
            {% if user.is_authenticated %}
            <div class="input-group-append">
              <a href="{% url 'users:logout' %}" type="button" class="btn btn-outline-warning btn-sm p-1">Log Out</a>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="social-icons">
    <ul class="list-unstyled text-center mb-0">
      <li class="list-unstyled-item">
        <a href="#">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li class="list-unstyled-item">
        <a href="#">
          <i class="fab fa-facebook-f"></i>
        </a>
      </li>
      <li class="list-unstyled-item">
        <a href="#">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
    </ul>
  </div>
{% endblock content %}