{% extends 'houses/base.html' %}
{% load static %}

{% block title %}
  {% if housesnames.count > 1 %}
    SharePay - Houses
  {% else %}
    SharePay - House
  {% endif %}
{% endblock title %}

{% block content %}
   <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="{% static 'mp4/bg.mp4' %}" type="video/mp4">
  </video>

  <div class="masthead">
    <div class="masthead-bg"></div>
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-12 my-auto">
          <div class="masthead-content text-white py-5 py-md-0">
          {% comment %} LOGO {% endcomment %}
          {% include 'houses/logo.html' %}
            <!-- ================================ -->
              {% if messages %}
              <ul class="tenant_messages">
                  {% for message in messages %}
                      <li>{{message}}</li>
                  {% endfor %}
              </ul>
              {% endif %}
            <!-- ================================ -->
             <h2 class="h3 p-1">Houses</h2>
            {% if housesnames %}
              {% for housename in housesnames %}
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                          <div class="btn-group mr-2" role="group" aria-label="First group">
                            <a type="button" class="btn btn-outline-primary text-white mb-2" href="#">{{housename.house_name}}</a>
                          </div>
                          <div class="btn-group mr-2" role="group" aria-label="Second group">
                            <a type="button" class="btn btn-outline-success text-white mb-2" href="{% url 'share:update_house_name' pk=housename.id %}">Edit</a>
                          </div>
                          <div class="btn-group" role="group" aria-label="Third group">
                            <a type="button" class="btn btn-outline-warning text-white mb-2" href="{% url 'share:delete_house_name' pk=housename.id %}">Delete</a>
                          </div>
                        </div>
                    {% endfor %}
            {%else %}
              <p>There is no House to display</p>
            {% endif %}
              <p class="pt-2">
                  <a href="{% url 'share:create_house_name' %}" role="button" class="btn btn-secondary w-100 p-1 mb-2">Add House</a>
                  <a href="{% url 'share:index' %} " role="button" class="btn btn-secondary w-100 p-1 mb-2">Back</a>
              </p>
        
            {% if user.is_authenticated %}
            <div class="input-group-append">
              <a href="{% url 'users:logout' %}" type="button" class="btn btn-outline-warning btn-sm p-1">Log Out</a>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include 'social_media/social_media.html' %}
{% endblock content %}

<div class="d-block flex-wrap mb-2">
  <div class="" style="border-top-right-radius: 0;border-bottom-right-radius: 0;">
    
  </div>
  <div class="" style="border-radius: 0;">
    <a href="{% url 'share:update_house_name' pk=housename.id %}" class="text-white">Update</a>
  </div>
  <div class="btn btn-outline-warning" style="border-top-left-radius: 0;border-bottom-left-radius: 0;">
    <a href="{% url 'share:delete_house_name' pk=housename.id %}"  class="text-white">Delete</a>
  </div>
</div>