{% extends 'houses/calc_bill/base_calc.html' %}
{% load static %}
{% load humanize %}

{% block content %}
{% comment %} LOGO {% endcomment %}
{% include 'houses/logo_report.html' %}
<a type="button" class="close" aria-label="Close" href="{% url 'share:reports_view' pk=Main_House.first.id %}">
      <small><span aria-hidden="true">Back to Reports</span> </small>
</a>

{% comment %} START INFOR BILL {% endcomment %}
<table class="table table-sm">
  <thead class="bg-info text-white">
    <tr>
      <th scope="col">Total Kilowatts/Hour</th>
      <th scope="col">Amount Bill</th>
      <th scope="col">Period</th>
      <th scope="col">User Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{calc_1.kwh}}</th>
      <td>{{calc_1.bill_value}}</td>
      <td>{{calc_1.period_bill}}</td>
      <td>{{calc_1.user}}</td>
    </tr>
  </tbody>
</table>
{% comment %} END INFOR BILL {% endcomment %}

{% comment %} START TABLE MAIN HOUSE {% endcomment %}
<div class="table-responsive">
  <table class="table table-hover">
    {% for main_name, values in calc_1.main_house.items %}
    <caption>Main House</caption>
      <h3 class='text-responsive2'>{{main_name}}</h3>
      <div><strong>Kilowatts:</strong> {{calc_1.new_main_kwh}} kwh</div>
      <div><strong>Bill Value:</strong> {{calc_1.new_amount}}</div>
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tenant Name</th>
            <th scope="col">Tenant Period</th>
            <th scope="col">Days</th>
            <th scope="col">Due Value</th>
          </tr>
        </thead>

        {% for main_tenant_name,v in values.items %}
        <tbody>
          <tr class="table-success">
              <th scope="row">{{forloop.counter}}</th>
              <td>{{main_tenant_name}}</td>
              <td>{{v.date}}</td>
              <td>{{v.days}}</td>
              <td>{{v.value}}</td>
          </tr>
        </tbody>
        {% endfor %}
    {% endfor %}
  </table>
</div>
{% comment %} END TABLE MAIN HOUSE {% endcomment %}

{% comment %} START TABLE SUB HOUSE {% endcomment %}
{% for subs_house_name, c in calc_1.sub_house_without.items %}
  <div class="table-responsive">
    <table class="table table-hover">
      <caption>Sub House Without Kilowatts</caption>
        <h3 class='text-responsive2'>{{subs_house_name}}</h3>
        <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Tenant Name</th>
              <th scope="col">Tenant Period</th>
              <th scope="col">Days</th>
              <th scope="col">Due Value</th>
            </tr>
          </thead>
          {% for sub_tenant_name, v in c.items %}
            <tbody>
              <tr class="table-success">
                  <th scope="row">{{forloop.counter}}</th>
                  <td>{{sub_tenant_name}}</td>
                  <td>{{v.date}}</td>
                  <td>{{v.days}}</td>
                  <td>{{v.value}}</td>
              </tr>
            </tbody>
          {% endfor %} 
      
    </table>
  </div>
{% endfor %}
{% comment %} END TABLE SUB HOUSE {% endcomment %}

{% comment %} START TABLE LEFT OVER {% endcomment %}
{% if  calc_1.left_over1 %}
<div class="table-responsive">
    <table class="table table-hover">
      <caption>List of left_over</caption>
      {% for left_name, v in calc_1.left_over1.items %}
        <h3 class='text-responsive2'>Left_Over</h3>
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Main/Sub House_Name - Date</th>
              <th scope="col">Left Over</th>
            </tr>
          </thead>
          {% for key, value in v.details_date.items %}
            <tbody>
                <tr class="table-danger">
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{key}}</td>
                    <td>{{value|floatformat:3}}</td>
                </tr>
            </tbody> 
          {% endfor %}
          <thead class="thead-secondary">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Total</th>
              <th scope="col">{{v.left_over1}}</th>
            </tr>
          </thead>
          {% comment %} <thead class="thead-secondary">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Empty Days</th>
              <th scope="col">{{v.days_left_over}}</th>
            </tr>
          </thead> {% endcomment %}
      {% endfor %}
    </table>
  </div>
{% endif %}

{% comment %} END TABLE LEFT OVER {% endcomment %}

{% comment %} START all With Kilowatts {% endcomment %}
{% include 'houses/calc_bill/with_kwh.html' %}



<a type="button" class="close" aria-label="Close" href="{% url 'share:reports_view' pk=Main_House.first.id %}">
      <small><span aria-hidden="true">Back to Reports</span></small>
</a>

{% endblock content %} 

{% block Scripts %}

{% endblock Scripts %}