{% extends 'houses/calc_bill/base_calc.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<!-- ================================ -->
  {% if messages %}
    <ul class="detail_messages">
        {% for message in messages %}
            <li>{{message}}</li>
        {% endfor %}
    </ul>
  {% endif %}
<!-- ================================ -->|
{% comment %} LOGO {% endcomment %}
{% include 'houses/logo.html' %}
{% comment %} INFOR {% endcomment %}
<p class="text-justify">-- Bill Details --</p>

<table class="table table-sm">
  <thead class="bg-info text-white">
    <tr>
      <th scope="col">Total Kilowatts/Hour</th>
      <th scope="col">Amount Bill</th>
      <th scope="col">Period</th>
      <th scope="col">User Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{calc_1.kwh}}</th>
      <td>{{calc_1.bill_value}}</td>
      <td>{{calc_1.period_bill}}</td>
      <td>{{calc_1.user}}</td>
    </tr>
  </tbody>
</table>

{% comment %} START TABLE MAIN HOUSE {% endcomment %}
<div class="table-responsive">
  <table class="table table-hover">
    <caption>List of main_house</caption>
    {% for main_name, values in calc_1.main_house.items %}
      <h3>{{main_name}}</h3>
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tenant Name</th>
            <th scope="col">Tenant Period</th>
            <th scope="col">Days</th>
            <th scope="col">Due Value</th>
          </tr>
        </thead>
        {% for main_tenant_name,v in values.items %}
        <tbody>
          <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td>{{main_tenant_name}}</td>
              <td>{{v.date}}</td>
              <td>{{v.days}}</td>
              <td>{{v.value}}</td>
          </tr>
        </tbody>
        {% endfor %}
    {% endfor %}
  </table>
</div>
{% comment %} END TABLE MAIN HOUSE {% endcomment %}

{% comment %} START TABLE SUB HOUSE {% endcomment %}
{% for subs_house_name, c in calc_1.sub_house.items %}
  <div class="table-responsive">
    <table class="table table-hover">
      <caption>List of sub_houses</caption>
        <h3>{{subs_house_name}}</h3>
        <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Tenant Name</th>
              <th scope="col">Tenant Period</th>
              <th scope="col">Days</th>
              <th scope="col">Due Value</th>
            </tr>
          </thead>
          {% for sub_tenant_name, v in c.items %}
            <tbody>
              <tr>
                  <th scope="row">{{forloop.counter}}</th>
                  <td>{{sub_tenant_name}}</td>
                  <td>{{v.date}}</td>
                  <td>{{v.days}}</td>
                  <td>{{v.value}}</td>
              </tr>
            </tbody>

          {% endfor %} 
      
    </table>
  </div>
{% endfor %}
{% comment %} END TABLE SUB HOUSE {% endcomment %}
<hr>
{% comment %} START TABLE LEFT OVER {% endcomment %}
{% if  calc_1.left_over %}
<div class="table-responsive">
    <table class="table table-hover">
      <caption>List of main_house</caption>
      {% for left_name, v in calc_1.left_over.items %}
        <h3>{{left_name}}</h3>
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Description</th>
              <th scope="col">Days</th>
              <th scope="col">Left Over</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{v.description}}</td>
                <td>{{v.days_left_over}}</td>
                <td>{{v.left_over}}</td>
            </tr>
          </tbody>
      {% endfor %}
    </table>
  </div>
{% endif %}
        {% comment %} END TABLE LEFT OVER {% endcomment %}

{% endblock content %} 

{% block Scripts %}

{% endblock Scripts %}