
{% comment %} START TABLE SUB HOUSE WITH KWH {% endcomment %}
{% for subs_house_name, c in calc_2.sub_house_with.items %}
  <div class="table-responsive">
    <table class="table table-hover">
      <caption>Sub_House with kilowatts registered</caption>
        <h3 class='text-responsive2'>{{subs_house_name}}</h3>
        <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Tenant Name</th>
              <th scope="col">Tenant Period</th>
              <th scope="col">Days</th>
              <th scope="col">Due Value</th>
            </tr>
          </thead>
          {% for sub_tenant_name, v in c.items %}
            <tbody>
              <tr class="table-secondary">
                {% if forloop.counter == 1 %}
                <div><strong>Kilowatts:</strong> {{v.kwh_infor|slugify}} kwh</div>
                <div><strong>Bill Value:</strong> {{v.bill_value}}</div>
                {% endif %} 
                  <th scope="row">{{forloop.counter}}</th>
                  <td>{{sub_tenant_name}}</td>
                  <td>{{v.date}}</td>
                  <td>{{v.days}}</td>
                  <td>{{v.tenant_value}}</td>
                  {% comment %} <td>{{v.kwh_infor}}</td> {% endcomment %}
              </tr>
              
            </tbody>
          {% endfor %} 
      
    </table>
  </div>
{% endfor %}

{% comment %} END TABLE SUB HOUSE WITH KWH {% endcomment %}


{% comment %} START TABLE LEFT OVER {% endcomment %}
{% if  calc_2.left_over1 %}
<div class="table-responsive">
    <table class="table table-hover">
      <caption>This is a value which no one was living as a tenant.</caption>
      {% for left_name, v in calc_2.left_over1.items %}
        <h3 class='text-responsive2'> Left Over</h3> {% comment %} {{left_name}} {% endcomment %}
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Sub House_Name - Date</th>
              <th scope="col">Value per Day</th>
            </tr>
          </thead>
          {% for k, v in v.details_date.items %}
            <tbody>
              <tr class="table-secondary">
                  <th scope="row">{{forloop.counter}}</th>
                  <td>{{k}}</td> 
                  <td>{{v}}</td> 
              </tr>
            </tbody>
          {% endfor %}
      
          <thead class="thead">
                <tr class="table-secondary">
                  <th scope="col">#</th>
                  <th scope="col">Total</th>
                  <th scope="col">{{v.left_over1}}</th>
                </tr>
          </thead>
      {% endfor %}  
    </table>
  </div>
{% endif %}
{% comment %} END TABLE LEFT OVER {% endcomment %}