
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{% static 'css/error500.css' %}">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-5D06PRSEVB"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-5D06PRSEVB');
  </script>

  <title>500 Error Page</title>
</head>


<body>

<div id="error">
  <div id="box"></div>
  <h3>ERROR 500</h3>
  <p>Things are a little <span>unstable</span> here</p>
  <p>Something went wrong, but it's not your fault</p>
  <p>I suggest come back later</p>
  <p class="link">
    <a href="https://www.yurilima.com.br/yurilima/#contact">Contat Administrator Page</a>
  </p>
  <p>OR</p>
  <p class="link">
    <a href="https://www.sharepay.app.br">Try Again</a>
  </p>
</div>
</div>
    
</body>
</html>





