{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Error Pages">
  <meta name="author" content="Yuri Lima">
  <!-- Favicon Area -->
  <!-- https://favicon.io/ -->
  <link rel="icon" href="{% static 'favicon_io/favicon.ico' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon_io/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon_io/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon_io/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'favicon_io/site.webmanifest' %}">

  <!-- Title Area -->
  <title>{% block title %}{% endblock %}</title>

<!-- Custom styles for this template ERROR Pages -->
  <link href="{% static {% block css %}{% endblock css %} %}" rel="stylesheet">

</head>

<body>


  {% block content %}
  
  {% endblock content %}

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.5/typed.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.3/particles.min.js"></script>

  <script href="{% static {% block js %}{% endblock js %} %}"></script>

</body>

</html>
